.contenedor{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.contenedor img{
    width: 100px;
}
.tras{
    position:relative;
    top: 50%;
}