.contenedor{
    margin-top: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.contenedor:hover{
    backdrop-filter: shadow( 1px 0px 2px black);
}
.contenedor img{
    width: 100px;
    cursor: pointer;
}
.tras{
    position:absolute;
    left: 50%;
    /*border: 2px solid green;*/
    transition: 1s;
}
.im1{
    z-index: 10;
    cursor: pointer;
}
.red1{
    scale: 0;
    transform: rotate(90deg);
    transition: 1s;
}
.red2{
    scale: 0;
    transform: rotate(90deg);
    transition: 1s;
}
.red3{
    scale: 0;
    transform: rotate(90deg);
    transition: 1s;

}
.red4{
    scale: 0;
    transform: rotate(90deg);
    transition: 1s;
}

.red5{
    scale: 0;
    transform: rotate(90deg);
    transition: 1s;
}

.im1{
    z-index: 10;
    cursor: pointer;
}
.red1.ver{
    scale: 1;
    transform: rotate(72deg) translate(200px) rotate(-72deg);
    transition: 1s;
}
.red2.ver{
    scale: 1;
    transform: rotate(144deg) translate(200px) rotate(-144deg);
    
    transition: 1s;
}
.red3.ver{
    scale: 1;
    transform: rotate(216deg) translate(200px) rotate(-216deg);
    transition: 1s;

}
.red4.ver{
    scale: 1;
    transform: rotate(288deg) translate(200px) rotate(-288deg);
    transition: 1s;
}

.red5.ver{
    scale: 1;
    transform: rotate(360deg) translate(200px) rotate(-360deg);
    transition: 1s;
}